.map-container {
  position: absolute;
  height: calc(100% - 64px);
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.topbar {
  position: absolute;
  top: 0;
  height: 64px;
  width: 100%;
  z-index: 2 !important;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.topSpacer {
  height: 64px;
  z-index: -1;
}

.searchSpacer {
  height: 48px;
  z-index: -1;
}

.cards {
  overflow-y: auto;
  margin-top: 48px;
  height: calc(100% - 48px);
}

.cards::-webkit-scrollbar {
  width: 10px;
}

.cards::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-right: 1px solid black;
}

.cards::-webkit-scrollbar-thumb {
  background-color: black;
}

.sidebar {
  width: 25%;
  z-index: 1 !important;
  height: calc(100% - 64px);
  position: absolute;
  transition: margin-left 1s;
}

.open {
  margin-left: 0%;
}

.closed {
  margin-left: -25%;
}


.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mainContent {
  width: 100%;
  height: calc(100% - 64px);
}

.logo {
  color: white;
  letter-spacing: 0.2em;
}

.cardBase {
  width: 100%;
  background-color: #f5f5f5;
  border: 1px solid black;
  overflow-x: hidden;
  cursor: pointer;
}

.cardBase:hover {
  background-color: orangered;
}


.cardTitle {
  text-align: center;
  margin-top: 5px;
  font-weight: 700;
}

.cardDescription {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .sidebar {
    width: 100%;
  }
  .closed {
    margin-left: -100%;
  }
  .search {
    width: 100%;
  }
  .sidebar {
    background-color: #f5f5f5;
  }
}