.map-container {
  position: absolute;
  height: calc(100% - 64px);
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.topbar {
  position: absolute;
  top: 0;
  height: 64px;
  width: 100%;
  z-index: 2 !important;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.topSpacer {
  height: 64px;
  
}

.sidebar {
  z-index: 1 !important;
  background-color: white;
  height: calc(100% - 64px);
  position: absolute;
  transition: width 1s;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mainContent {
  width: 100%;
  height: calc(100% - 64px);
}


.logo {
  color: white;
  letter-spacing: 0.2em;
}