.map-container {
  position: absolute;
  height: calc(100% - 64px);
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.topbar {
  position: absolute;
  top: 0;
  height: 64px;
  width: 100%;
  z-index: 2 !important;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.topSpacer {
  height: 64px;
  z-index: -1;
}

.searchSpacer {
  height: 48px;
  z-index: -1;
}

.cards {
  overflow-y: auto;
  margin-top: 48px;
  height: calc(100% - 64px);
}

.sidebar {
  z-index: 1 !important;
  background-color: white;
  width: 25%;
  height: calc(100% - 64px);
  position: absolute;
  transition: margin-left 1s;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mainContent {
  width: 100%;
  height: calc(100% - 64px);
}


.logo {
  color: white;
  letter-spacing: 0.2em;
}

.cardBase {
  width: 100%;
  border: 1px solid black;
  overflow-x: hidden;
  cursor: pointer;
}

.suggestionCard:hover {
  background-color: orangered;
}

.originalCard:hover {
  background-color: greenyellow;
}

.cardTitle {
  text-align: center;
  margin-top: 5px;
  font-weight: 700;
}

.cardDescription {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}